@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import url('./components/Movies/Movie.css');


html {
  background-color: #223a5c;

  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  font-size: 20px;

  padding: 0 50px;
  background-color: #0e2038;

  /* font-weight: 600; */
}

.App .form {
  width: 18%;
  margin: 20px 40%;
}

.movie__results {
  width: 80%;
  margin: 20px 10%;

  display: flex;

  justify-content: center;

  gap: 20px;
}

.custom-file-input {
  background-color: #dad5d1;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: -80px;
}

.custom-file-input::before {
  content: 'Select file';
  /* display: inline-block; */
  background: #a3b5c1;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 3px;
  /* border-radius: 3px;
  outline: none;
  white-space: nowrap; */
  /* -webkit-user-select: none; */
  cursor: pointer;
  /* text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt; */
}

/* .custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

.save {
  background-color: #dad5d1;

  border: 1px solid #999;
  border-radius: 3px;

  padding: 10px 20px;

  display: block;
  margin: 40px auto;

  font-weight: 600;

  text-transform: uppercase;

  cursor: pointer;

  transition: all 300ms ease-in-out;
}

.preview__btn {
  background-color: #dad5d1;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin: 20px auto;

  font-weight: 600;

  padding: 10px 20px;

  text-transform: uppercase;

  cursor: pointer;

  transition: all 300ms ease-in-out;
}

.preview__btn:hover,
.save:hover {
  
  background-color: #a3b5c1;
}